<div class="wave-container">
	<button class='waveheader--button'>+/-</button>
	<div class='waveheader'>
		<label>Wave_{{index}}</label>
	</div>
	<div>
		<div id="foo" class="keyvaluepair">
			<label class="key">EnemyType</label>
		</div>	
		<div class="keyvaluepair">
			<label class="key">SpawnCount</label>
			<input id="spawn_count" class="value" type="text" value="{{SpawnCount}}" />
		</div>
		<div class="keyvaluepair">
			<label class="key">MaxEnemiesAlive</label>
			<input id="max_enemies" class="value" type="text" value="{{Criteria.MaxEnemiesAlive}}" />	
		</div>
		<div class="keyvaluepair">
			<label class="key">MinSecondsInArena</label>
			<input id="min_seconds" class="value" type="text" value="{{Criteria.MinSecondsInArena}}" />	
		</div>
		<div class="keyvaluepair">
			<label class="key">MinEnemiesKilled</label>
			<input id="min_kill" class="value" type="text" value="{{Criteria.MinTotalEnemiesKilled}}" />		
		</div>
	</div>
</div>